@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #223C69, #0F1827); 
}